<div class="show-car">
  <div class="car-info">
    <div class="car-header">
      <h1><%= @car.brand %> <%= @car.model %> <%= @car.year %></h1>
    </div>
    <div class="car-ul">
      <ul>
        <li>Color: <%= @car.color %></li>
        <li>Plate: <%= @car.plate %></li>
      </ul>
    </div>
    <div class="car-price">
      <h4>$<%= @car.price %> p/d</h4>
    </div>
    <div class="car-button">
      <% unless policy(@car).edit? %>
        <%= link_to "Book this car", new_car_booking_path(@car) %>
      <% end %>
    </div>
    <div class="car-conditions">
      <a href="#">Terms and conditions</a>
      <a href="#">Requirements</a>
    </div>
  </div>
  <div class="car-image">
    <% @car.photos.each do |photo| %>
      <%= cl_image_tag photo.key %>
    <% end %>
  </div>
</div>
